body {
    background-color: #eceff0;
}

body,
input {
    font: 1em "Open Sans", sans-serif;
    color:#363639;
}

 a{
     text-decoration: none;
     border-bottom: 1px dashed #363639;
 }

 /* list styles */

.list {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.list .header {
    font-family: "Shadows Into Lightt Two", cursive;
    margin: 0 0 10px 0;
}

/* Items */

.items {
    margin:0;
    padding: 0;
    list-style-type:none;
}

.items li:hover .doneButton {
    opacity: 1;
}

.items .item.done {
    text-decoration: line-through;
}

.items li,
.item-add .input{
      border:none;
      border-bottom: 1px dashed #ccc;
      padding: 15px 0;
  }

.item-add .input{
    border:none;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.item {
    border:none;

    padding: 15px 0;
}
.input:focus {
    outline:none;
}

/* Done Button */
.done-Button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #d9dfe1;
    color:#363639;
    padding:3px 6px;
    opacity: 0.4;
}

/* submit button */
.submit {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
}


.editSubmit {
   width: 20px;
    height: 20px;
    background-image: url("edit.png");

}