body {
    background-color: hotpink;
}

.todoItem {
    width: 300px; /* Ширина поля с кнопкой */
    border: 2px solid #000; /* Параметры рамки */
    min-height: 20px; /* Минимальная высота */
    border-radius: 5px; /* Уголки */;
}
textarea{
    resize: none;
    border: none; /* Убираем рамку */
     /* Убираем свечение в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: top; /* Выравнивание по середине */
}
#deletesubmit {
        width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    opacity:0;
    background: url(/delete.png);

}

#deletesubmit:hover {

    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    /* Убираем рамку */
    position: relative;
    display: inline-block;
    background: url(/delete.png);
    opacity:1;
}

#colorRed {

    width: 50px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    /* Убираем рамку */

    opacity:0;
}

#colorRed:hover{

    width: 50px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: 2px solid #000;

    border-radius: 5px; /* Уголки */;
    /* Убираем рамку */
    background-color: red;
    opacity:1;

}
#colorYellow{

    width: 50px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    /* Убираем рамку */

    opacity:0;
}

#colorYellow:hover{

    width: 50px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: 2px solid #000;
    border-radius: 5px; /* Уголки */;
    /* Убираем рамку */
    background-color: yellow;
    opacity:1;
}

#colorBlue{

    width: 50px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    /* Убираем рамку */

    opacity:0;
}

#colorBlue:hover{

    width: 50px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */

    border: 2px solid #000;
    border-radius: 5px; /* Уголки */;
    background-color: blue;
    opacity:1;
}

#addButton {
    width: 340px; /* Ширина кнопки */
    height: 22px; /* Высота кнопки */
    background-image: url("/delete.png");
}
